@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Blank>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="container mb-4 mt-5" id="rooms">
	@Html.GetGridHtml(Model, "bodyText", "bootstrap3-rawrow")
</div>

<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
<!-- *  *  *  * Gallery *  *  *  *  * -->
<!-- *  *  *  *  *  *  *  *  *  *  *  * -->
@Html.Partial("~/views/partials/Sections/Gallery.cshtml")